include README.md
include LICENSE
include setup.cfg

recursive-include ncephes *.c
recursive-include ncephes *.h
recursive-include ncephes *.py
recursive-include ncephes *.txt
recursive-include ncephes *.patch
